<input type="text" class="form-control" ng-model="filterName" placeholder="filterName" aria-describedby="basic-addon1">


<input type="text" class="form-control" ng-model="mainVm.Employee.id" placeholder="id" aria-describedby="basic-addon1">

<input type="text" class="form-control" ng-model="mainVm.Employee.name" placeholder="name" aria-describedby="basic-addon1">

<button class="btn btn-primary" type="button" aria-haspopup="true" aria-expanded="true" ng-click="mainVm.addEmployee()">Add a row</button>