<div class="jumbotron">
  <h1>'Hello, 'Hello!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-primary" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing" ng-controller="MainCtrl as mainVm">
  <h4 ng-repeat = "main in mainVm.awesomeThings">{{main}}</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

<!-- ng-model binds -->
  <input type="text" class="form-control" ng-model="filterName" placeholder="filterName" aria-describedby="basic-addon1">

  <input type="text" class="form-control" ng-model="mainVm.Employees.id" placeholder="id" aria-describedby="basic-addon1">

  <input type="text" class="form-control" ng-model="mainVm.Employees.name" placeholder="name" aria-describedby="basic-addon1">

  <button class="btn btn-primary" type="button" aria-haspopup="true" aria-expanded="true" ng-click="mainVm.addEmployee()">Add a row</button>
<!-- filter -->
  <div ng-repeat="emp in mainVm.Employees | filter:filterName">
    <div class="col-xs-6">{{emp.id}}</div>
    <div class="col-xs-6">{{emp.name}}</div>
  </div>

</div>
