
<div class="row marketing" ng-controller="MainCtrl as mainVm">
  
<!-- ng-model binds -->
  <input type="text" class="form-control" ng-model="filterName" placeholder="filterName" aria-describedby="basic-addon1">


  <input type="text" class="form-control" ng-model="mainVm.Employee.id" placeholder="id" aria-describedby="basic-addon1">

  <input type="text" class="form-control" ng-model="mainVm.Employee.name" placeholder="name" aria-describedby="basic-addon1">

  <button class="btn btn-primary" type="button" aria-haspopup="true" aria-expanded="true" ng-click="mainVm.addEmployee()">Add a row</button>
<!-- filter -->
  
  <table class="table table-hover">
  <thead>
    <th>
      
    </th>
    <th ng-click="mainVm.sort.by='id'; mainVm.sort.reverse=!mainVm.sort.reverse;">
      Id
    </th>
    <th ng-click="mainVm.sort.by='name'; mainVm.sort.reverse=!mainVm.sort.reverse;">
      Employee Name
    </th>
    <th ng-click="mainVm.sort.by='price'; mainVm.sort.reverse=!mainVm.sort.reverse;">Price</th>
  </thead>
  <tbody>
    <tr ng-repeat="emp in mainVm.Employees | filter:filterName | orderBy:mainVm.sort.by:mainVm.sort.reverse">
      <td><span ng-click="mainVm.deleteEmployee($index)"></span></td>
      <td>{{emp.id | number:0}}</td>
      <td>{{emp.name | uppercase}}</td>
      <td>{{emp.price | currency:'USD '}}</td>
    </tr>
    
  </tbody>
  </table>

</div>
