
<div class="row marketing" ng-controller="MainCtrl as mainVm">
  <h4 ng-repeat = "main in mainVm.awesomeThings">{{main}}</h4>
  
<!-- ng-model binds -->
  <input type="text" class="form-control" ng-model="filterName" placeholder="filterName" aria-describedby="basic-addon1">


  <input type="text" class="form-control" ng-model="mainVm.Employee.id" placeholder="id" aria-describedby="basic-addon1">

  <input type="text" class="form-control" ng-model="mainVm.Employee.name" placeholder="name" aria-describedby="basic-addon1">

  <button class="btn btn-primary" type="button" aria-haspopup="true" aria-expanded="true" ng-click="mainVm.addEmployee()">Add a row</button>
<!-- filter -->
  <div ng-repeat="emp in mainVm.Employees | filter:filterName">
    <div class="col-xs-6">{{emp.id}}</div>
    <div class="col-xs-6">{{emp.name}}</div>
  </div>

</div>
